<% include partials/header %>

<div class="profile">
    <i class="fa fa-user"></i> <%= username %>
</div>
<div class="container">
    <div class="header row card">
        <div class="brand">
            <p>
                <span>H</span>Hacker News
            </p>
        </div>
        <div class="search">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Search stories">
        </div>
    </div>

    <div class="filters row">
        <form action="/" method="post">
            <span>Search</span>
            <select name="tag" id="" style="margin-left: 16px; font-size: 14px; padding: 0px;">
                <option value="stories">Stories</option>
                <option value="comments">Comments</option>
            </select>
            <span style="margin-left: 16px;">by</span>
            <select name="date" id="" style="margin-left: 16px; font-size: 14px; padding: 0px;">
                <option value="popularity">Popularity</option>
                <option value="date">Date</option>
            </select>
            <span style="margin-left: 16px;">for</span>
            <select name="date" id="" style="margin-left: 16px; font-size: 14px; padding: 0px;">
                <option value="all time">All time</option>
                <option value="last 24h">Last 24h</option>
                <option value="past week">Past Week</option>
                <option value="past month">Past Month</option>
                <option value="past year">Past Year</option>
            </select>
            <button class="ml-4 btn"
                    style="background: #FF742B; color: #fff; font-weight: 700; padding-top: 4px; padding-bottom: 4px;">
                Filter
            </button>
        </form>
    </div>

    <% news.forEach((data) => { %>
        <div class="news row card">
            <% let now = new Date %>
            <% let time =  now.getFullYear() - data.created_at.slice(0,4)  %>
            <h6><%= data.title %></h6>
            <p><%= data.points %> | <%= data.author %> | <%= time %> year ago | <%= data.num_comments %> | <a href="<%= data.url %>" target="_blank">(<%= data.url %>)</a></p>
        </div>
    <% }) %>

</div>

<% include partials/footer %>
